@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

form{
  display: flex;
  flex-direction: column ;
}

.container{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 450px;
  width: 300px;
  height: 100px;
}
.search {
  position: absolute;
  margin: 40px auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: crimson;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.search:hover{
  cursor: pointer;
}
.search::before{
  content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
}
.search::after{
  content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
}  
/* .sub1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
} */
input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: 50px auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: crimson;
  color: white;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson,
              0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
input:hover{
  cursor: pointer;
}
input:focus{
  width: 300px;
  opacity: 1;
  cursor: text;
}
input:focus ~ .search{
  right: -250px;
  background: #151515;
  z-index: 6;
}
input:focus ~ .search ::before{
  top: 0;
        left: 0;
        width: 25px;
}
input:focus ~ .search ::after{
  top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
}
input::placeholder{
  color: white;
      opacity: 0.5;
      font-weight: bolder;
}

a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Helvetica;
  font-size: 20px;
}
.round {
		max-width: 960px;
		/* margin-top: 20px;
		margin-bottom: 20px; */
    margin: 20px auto;
}
.round a {
  color: crimson;
  text-align: center;
}
.round:hover{
  cursor: pointer;
}
.round .button {
  display: inline-block;
  width: 130px;
  height: 40px;
  line-height: 40px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid crimson;
  transition: color .5s;
}

.round .button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: crimson;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.round .button:hover {
  color: #fff;
}

.round .button:nth-child(1):before {
  top: 100%;
  left: 100%;
  transition: all .7s;
}

.round .button:nth-child(1):hover:before {
  top: -30px;
  left: -30px;
}


/* .sub2{
    margin-top: 1.5%;
} */

/* .note{
  
    text-align: center;
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

/* 
.btn{
    text-align: center;
    margin: 2%;
}
.btn1{
    margin-right: 2%;
}

.btn1,.btn2{
    background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.btn1:hover,.btn2:hover,
.btn1:focus,.btn2:focus {
  background-color: #07c;
}

.btn1:focus,.btn2:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.btn1:active,.btn2:active {
  background-color: #0064bd;
  box-shadow: none;
} */